body{
    margin: 0px;
    
}

main{
    margin: 10%;
    margin-top: 0%;
    
}

p {
    font-size: large;
}

nav {
    padding-top: 0%;
    font-size: large ; /* Tamaño moderado para el subtítulo */
    font-weight: 300; /* Peso lde fuente más liviano para un look profesional */
    color: #444; /* Color gris oscuro para un contraste suave */
    text-align: center; /* Centrado del texto */
    margin-top: 0%;
}

.subtitle {
    font-size: 1.5em; /* Tamaño moderado para el subtítulo */
    font-weight: 300; /* Peso de fuente más liviano para un look profesional */
    color: #444; /* Color gris oscuro para un contraste suave */
    text-align: center; /* Centrado del texto */
    margin-top: 10px; /* Espacio arriba */
    
  }
  
.navbar a:hover{
    background-color:rgb(98, 173, 138); 
    
}


.carousel {
    /*width: 100%;  Cambia el ancho según prefieras */
    max-width: 100%; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
  }

  .carousel-item {
    width: 100%; /* Toma todo el ancho del contenedor */
    height: 80vh; /* Ocupa el 50% de la altura de la pantalla */
  } 

  .carousel-caption.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
footer{
    margin: 5%;
}


h1{
    text-align: center;

}



